section {
  overflow: hidden;
}
li {
  list-style: none;
}
a {
  text-decoration: none;
}
input {
  color: black !important;
}
.form-control,
.input-group-text,
.form-select {
  border: 0;
  border-radius: unset;
  background-color: #fff;
  input {
    padding-right: 0;
    padding-left: 0;
  }
}
.input-group-text i {
  color: $main-color;
}
