.desktop__navgation {
  ul {
    display: flex;
    justify-content: center;
    li {
      position: relative;
      &:not(:last-child) {
        margin-#{$e}: 1rem;
        &::after {
          content: "";
          width: 8px;
          height: 3px;
          border-radius: 3px;
          background-color: $main-color;
          position: absolute;
          top: 50%;
          transform: translateY(-50%);
          #{$s}: 105%;
        }
      }
      a {
        color: $main-color;
      }
    }
    :not(:last-child) {
      color: red;
    }
  }
}
