@import url("https://fonts.googleapis.com/css2?family=Tajawal:wght@300;400;500;700;800&display=swap");
body {
  direction: rtl;
  font-family: "Tajawal", sans-serif;
}

input {
  text-align: right;
}

*:not(i) {
  font-family: "Tajawal", sans-serif !important;
}

.services__number {
  left: 15px !important;
}

.text__main__color {
  color: #4c7c6e;
}

.bg__light__grean {
  background-color: #5ed0af;
}

.bg__dark__grean {
  background-color: #39ac8b;
}

section {
  overflow: hidden;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

input {
  color: black !important;
}

.form-control,
.input-group-text,
.form-select {
  border: 0;
  border-radius: unset;
  background-color: #fff;
}
.form-control input,
.input-group-text input,
.form-select input {
  padding-right: 0;
  padding-left: 0;
}

.input-group-text i {
  color: #4c7c6e;
}

.upperbar {
  background-color: #4c7c6e;
  color: #fff;
}
.upperbar ul {
  margin: 0;
  padding: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}
.upperbar ul li {
  display: inline-block;
  margin-inline: 0.5rem;
  font-size: 14px;
}
.upperbar ul li a {
  color: #fff;
}

.upperbar-btn {
  background-color: #4c7c6e;
  padding: 0.25rem 1.5rem;
  border: 0;
  border-radius: 10px;
}
.upperbar-btn a {
  color: #fff;
}

.banar {
  height: 65vh;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
}
.banar h1 {
  position: relative;
  color: #fff;
  padding-right: 1rem;
}
.banar h1::after {
  content: "";
  width: 4px;
  height: 100%;
  background-color: #fff;
  position: absolute;
  right: 0;
  top: 0;
  bottom: 0;
}

.services__banar {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(76, 124, 110, 0.71)), to(rgba(76, 124, 110, 0.71))), url(../assets/img/services/banar.png);
  background-image: linear-gradient(rgba(76, 124, 110, 0.71), rgba(76, 124, 110, 0.71)), url(../assets/img/services/banar.png);
}

.about__banar {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(76, 124, 110, 0.71)), to(rgba(76, 124, 110, 0.71))), url(../assets/img/about/banar.png);
  background-image: linear-gradient(rgba(76, 124, 110, 0.71), rgba(76, 124, 110, 0.71)), url(../assets/img/about/banar.png);
}

.communication__banar {
  background-image: -webkit-gradient(linear, left top, left bottom, from(rgba(76, 124, 110, 0.71)), to(rgba(76, 124, 110, 0.71))), url(../assets/img/communication/banar.png);
  background-image: linear-gradient(rgba(76, 124, 110, 0.71), rgba(76, 124, 110, 0.71)), url(../assets/img/communication/banar.png);
}

.services__card {
  -webkit-box-shadow: 18px 7px 43px 0 #00000009;
          box-shadow: 18px 7px 43px 0 #00000009;
  margin: 1rem;
}
.services__card .services__card__content {
  padding: 1rem;
  background-color: #fff;
}
.services__card .services__card__content .services__card__headding {
  margin-bottom: 0.4rem;
  position: relative;
}
.services__card .services__card__content .services__card__headding::before {
  content: "";
  width: 2px;
  height: 100%;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  background-color: #4c7c6e;
}
.services__card .services__card__content .services__card__headding h5 {
  margin-bottom: 0;
}
.services__card .services__card__content .services__card__headding span {
  font-size: 12px;
}
.services__card .services__card__content p {
  font-size: 14px;
}

footer {
  background-color: #3d3d3d;
}
footer .upperbar-btn {
  background-color: #4c7c6e;
}

.navbar-nav li {
  position: relative;
}
.navbar-nav li:not(:last-child) {
  margin-left: 1rem;
}
.navbar-nav li:not(:last-child)::after {
  content: "";
  width: 8px;
  height: 3px;
  border-radius: 3px;
  background-color: #4c7c6e;
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  right: 105%;
  display: block;
}

.hero {
  background-color: #c0f8e8;
  background-image: url(../assets/img/hero.png);
  background-size: cover;
  background-repeat: no-repeat;
  height: 75vh;
}
.hero .container {
  position: relative;
}
.hero__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.hero__content h1 {
  color: #585858;
  text-align: center;
}
.hero__content .upperbar-btn {
  background-color: #585858;
  border: 0;
}
.hero__form {
  position: absolute;
  bottom: 0;
  width: 100%;
  background-color: #4c7c6e;
}
.hero__form .btn {
  background-color: #206652;
  color: #fff;
  border-radius: 0;
}
.hero__form .form__date {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.features {
  background-color: #5ed0b0;
}
.features .features__card {
  padding: 3rem 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.features .features__card__icon {
  background-color: #fff;
  width: 6rem;
  height: 6rem;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 1rem;
}
.features .features__card h2 {
  color: #fff;
}
.features .features__card--bgcolor {
  background-color: #4c7c6e;
}

.about-section .features__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.about-section .features__box .feature {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.about-section .features__box .feature .feature__icon {
  background-color: #4c7c6e;
  min-width: 50px;
  height: 50px;
  line-height: 50px;
  border-radius: 50%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-left: 6px;
}
.about-section .features__box .feature p {
  font-size: 14px;
}

.scoops {
  background-color: #e0e0e0;
  color: #186e56;
}
.scoops__card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.scoops__card .icon__box {
  background-color: #186e56;
  width: 85px;
  height: 85px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 50%;
  margin-bottom: 0.5rem;
}
.scoops__card .icon__box img {
  width: 50px;
  height: 50px;
}

.about__section h4,
.about__section p {
  text-align: justify;
}

.vision__message__card {
  height: 100%;
  padding: 1rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  border: 2px solid #4c7c6e;
}

.values {
  background-color: #d9d9d9;
}
.values .value {
  text-align: center;
}
.values .value p {
  padding: 0;
}

.features-about .col {
  min-height: 100%;
}
.features-about .features__card {
  height: 100%;
  padding: 2rem;
  text-align: center;
  color: #fff;
}

.contact-section {
  overflow: unset;
}
.contact-section .form-control:focus {
  -webkit-box-shadow: none;
          box-shadow: none;
}
.contact-section .form-label {
  margin: 0;
}
.contact-section .form-control {
  border-bottom: 1px solid #4c7c6e;
}
.contact-section .content {
  background-color: #196e57;
  padding: 7rem 2rem 3rem 2rem;
  margin-top: -6rem;
}
.contact-section form .btn {
  background-color: #5ed0b0;
  border-radius: 0;
}
.contact-section form .btn:hover {
  background-color: #4c7c6e;
}

@media screen and (max-width: 768px) {
  .contact-section .content {
    padding: 3rem 2rem 3rem 2rem;
    margin-top: 0rem;
  }
}
